.input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e4e4e720;
  border-radius: 7px;
  cursor: pointer;
}

.input-color:focus  {
  border: 2px solid #e4e4e7;
}

.input-color::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
.input-color::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}


.insert-save-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
} 
