.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  @media (max-width: 768px) {
    flex-direction: column;
    height: 10em;
    justify-content: space-around;
  }
}
